@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model LibraryASPMVC.Models.AuthorBookModels;
@{
    bool isUpdate = ViewData["isUpdate"] != null ? (bool)ViewData["isUpdate"] : false;
    ViewData["Title"] = "Libros";
}
<section class="hero is-fullheight-with-header">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="columns is-8 is-variable is-multiline">               
                
                @if (isUpdate)
                {
                    <form id="bookForm" class="column is-one-thirds has-text-left" action="@Url.Action("Update","Book",new {id = Model.Book.Id})">
                        <h1 class="subtitle is-1 is-size-3">Libro</h1>

                        <div class="field">
                            <label class="label">Título</label>
                            <div class="control">
                                <input id="title" name="Title" class="input" type="text" value="@Model.Book.Title">
                            </div>
                            <span id="titleError" class="help is-danger"></span>
                        </div>
                        <div class="field">
                            <label class="label">Autor</label>
                            <div class="control">
                                <div class="select">
                                    <select id="author" name="AuthorId">
                                        <option value="0">Seleccione un autor</option>
                                        @foreach (var author in Model.Authors)
                                        {
                                            @if(author.AuthorId == Model.Book.AuthorId)
                                            {
                                                <option value="@author.AuthorId" selected>@author.Name</option>
                                            }
                                            else
                                            {
                                                <option value="@author.AuthorId">@author.Name</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <span id="authorError" class="help is-danger"></span>
                        </div>
                        <div class="field">
                            <div class="field is-grouped">
                                <div class="control">
                                    <button type="submit" class="button is-link">Actualizar</button>
                                </div>
                                <div class="control">
                                    <a asp-action="New" asp-controller="Book" asp-route-id="" type="submit" class="button">Cancelar</a>
                                </div>
                            </div>
                        </div>
                    </form>

                }
                else
                {
                    <form id="bookForm" class="column is-one-thirds has-text-left" method="post" action="Create">
                        <h1 class="subtitle is-1 is-size-3">Libro</h1>

                        <div class="field">
                            <label class="label">Título</label>
                            <div class="control">
                                <input id="title" name="Title" class="input" type="text">
                            </div>
                            <span id="titleError" class="help is-danger"></span>
                        </div>
                        <div class="field">
                            <label class="label">Autor</label>
                            <div class="control">
                                <div class="select">
                                    <select id="author" name="AuthorId">
                                        <option value="0">Seleccione un autor</option>
                                        @foreach (var author in Model.Authors)
                                        {
                                            <option value="@author.AuthorId">@author.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <span id="authorError" class="help is-danger"></span>
                        </div>
                        <div class="field">
                            <div class="field is-grouped">
                                <div class="control">
                                    <button type="submit" class="button is-link">Crear</button>
                                </div>
                                <div class="control">
                                    <a asp-action="Index" asp-controller="Home" type="submit" class="button">Cancelar</a>
                                </div>
                            </div>
                        </div>
                    </form>
                }                       
                
                <div class="column is-two-thirds has-text-left">
                    <partial name="_booksTable" model="@Model.BookAuthorInfos" />
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script>

        let isTouched = false;
        const title = document.getElementById('title');
        const titleError = document.getElementById('titleError');
        const author = document.getElementById('author');
        const authorError = document.getElementById('authorError');

        title.addEventListener('input', () => {
            titleError.innerText = title.value.trim().length < 1 && isTouched ? 'Debe ingresar un título válido!' : '';
        });

        title.addEventListener('blur', () => {
            isTouched = true;           
        });

        author.addEventListener('change', () => {
            authorError.innerText = author.selectedIndex == 0 ? 'Debe seleccionar algún autor!' : '';
        });

        document.getElementById('bookForm').addEventListener('submit', function (event) {
            if (author.selectedIndex == 0) {
                event.preventDefault();
                alert('Debe seleccionar algún autor!');
            }
            else{
                if (title.value.trim().length < 1) {
                    event.preventDefault();
                    alert('Debe ingresar un título válido!');
                }
            }           
        });

    </script>
}
